.nav {
  background: #f9f6f0;
  border-radius: 10px;
  justify-content: center;
  padding: 0.5vw;
}
.menu_list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.name {
  font-size: 40px;
  font-style: italic;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
body {
  background-image: url(/assets/images/autumn.jpg);
  background-size: cover;
}
.gallery {
  padding: 0.5vw;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
}
.gallery div {
  flex: auto;
  width: 230px;
  margin: 0.5vw;
}
.gallery div img {
  width: 100%;
  height: auto;
}
.gallery:hover img {
  opacity: 0.3;
  transition: 0.8s opacity;
}
.gallery:hover img:hover {
  opacity: 1;
  transition: 0.8s opacity;
}
